<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Open+Sans&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seismic</title>
</head>

<body>


    <main class="main-content">
        <h1>Blog headline</h1>

        <section class="first-sec">

            <div class="img-content">
                <img src="/assets/image 1.svg" alt="Image">

                <div class="img-text">
                    <p> Company & Culture</p>

                    <h2>Cheers to our new normal: hosting a successful virtual happy hour</h2>

                    <p>Your workday is winding down – calls, emails, meetings, complete. The only item remaining on your
                        calendar is Happy Hour. What a relief.</p>
                </div>

            </div>

            <div class="blog-list">

                <div class="blog-content">
                    <div>
                        <p>Marketing</p>
                        <h2>The four E’s of successful onboarding</h2>
                        <p>A methodology for leading new hires to success Enablement practitioners put a great deal of
                            time, </p>
                    </div>

                    <div class="img-blog-list">
                        <img src="/assets/image 2.svg" alt="">
                    </div>
                </div>

                <div class="blog-content">
                    <div>

                        <p>Enablement </p>
                        <h2>The power of placing the buyer first is now LIVE!</h2>
                        <p>A LinkedIn Studio video from Seismic’s Head of Enablement</p>

                    </div>

                    <div class="img-blog-list">
                        <img src="/assets/image 2-1.svg" alt="">
                    </div>
                </div>

                <div class="blog-content">
                    <div>

                        <p>Customers & partners</p>
                        <h2>The Seismic & SalesLoft integration is now LIVE!</h2>
                        <p>Share the right stories at the right time to make more connections and close more deals</p>

                    </div>

                    <div class="img-blog-list">
                        <img src="/assets/image 2-2.svg" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="second-sec">
            <div class="img-left">
                <img src="./assets/Img5-Achieving_Sales_Excellence_Remotely 1.svg" alt="image">
                <p>Marketing</p>
                <h3>Achieving sales excellence, remotely</h3>
                <p>Some quick suggestions to help your team move to remote sales while staying effective.</p>
            </div>

            <div class="img-right">
                <img src="./assets/Img6-Seismic_Resources_for_Remote_Productivity 2.svg" alt="image">
                <p>Enablement</p>
                <h3>Seismic resources for remote productivity</h3>
                <p>If you’re a Seismic customer, use our online tools to learn how to equip your sales team for remote
                    working.
                </p>
            </div>
        </section>

        <section class="third-sec">

            <div class="sec-content">
                <img src="./assets/Rectangle 67.svg" alt="">
                <p>Industry & events</p>
                <h3>3 Strategies to connect with clients while working from home</h3>
                <p>Learn about key strategies for wealth management firms and financial advisors to build strong client
                </p>
            </div>



            <div class="sec-content">
                <img src="./assets/Rectangle 66.svg" alt="">
                <p>Trends & insights</p>
                <h3>How to bring the SKO hype to Q2 and beyond</h3>
                <p>It is no secret that Sales Kickoffs (SKOs) are pretty special. It is the reason why year after year,
                    companies continue to invest in these events.</p>
            </div>



            <div class="sec-content">
                <img src="./assets/Rectangle 67-1.svg" alt="">
                <p>Enablement</p>
                <h3>Key soft skills For effective enablement professionals</h3>
                <p>Introducing the enablement soft-skill triangle – #LifeInEnablement as the enablement field matures
                </p>
            </div>


        </section>

        <section class="forth-sec">
            <h2>Filter blog stories</h2>

            <nav class="first-nav">
                <a href="#">All</a>
                <a href="#">Enablement</a>
                <a href="#">Marketing</a>
                <a href="#">Sales</a>
                <a href="#">More categories</a>
            </nav>

            <div class="title-list">
                <h2>All</h2>

                <a href="#">Sort By <strong>Latest</strong></a>
            </div>

            <nav class="nav-list">
                <ul>
                    <li>
                        <a href="#">
                            <div>
                                <p>Product & tech innovation
                                </p>
                            </div>

                            <div>
                                <h3>Three critical soft skills for the best enablers</h3>

                                <p>Introducing the Enablement Soft-Skill Triangle – #LifeInEnablement As the Enablement field matures, there are </p>
                            </div>
                        </a>

                    </li>

                    <li>
                        <a href="#">
                            <div>
                                <p>Product & tech innovation
                                </p>
                            </div>

                            <div>
                                <h3>Three critical soft skills for the best enablers</h3>

                                <p>Introducing the Enablement Soft-Skill Triangle – #LifeInEnablement As the Enablement field matures, there are </p>
                            </div>
                        </a>

                    </li>

                    <li>
                        <a href="#">
                            <div>
                                <p>Product & tech innovation
                                </p>
                            </div>

                            <div>
                                <h3>Three critical soft skills for the best enablers</h3>

                                <p>Introducing the Enablement Soft-Skill Triangle – #LifeInEnablement As the Enablement field matures, there are </p>
                            </div>
                        </a>

                    </li>
                   
                </ul>

                
            </nav>

            <div class="btn-container">
                <a class="last-btn" href="#">See More</a>

            </div>

        </section>
    </main>

    </div>
</body>

</html>